In [1]:
import os
import pandas as pd
rating_file_path= 'C:/Users/minho/aiffel/datasets/ml-1m/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names = ratings_cols, engine='python')
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [2]:
pd.read_csv(rating_file_path)

            1::1193::5::978300760
0            1::661::3::978302109
1            1::914::3::978301968
2           1::3408::4::978300275
3           1::2355::5::978824291
4           1::1197::3::978302268
...                           ...
1000203  6040::1091::1::956716541
1000204  6040::1094::5::956704887
1000205   6040::562::5::956704746
1000206  6040::1096::4::956715648
1000207  6040::1097::4::956715569

[1000208 rows x 1 columns]

In [3]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [4]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating':'count'}, inplace=True)

In [5]:
ratings.head()

   user_id  movie_id  count  timestamp
0        1      1193      5  978300760
1        1       661      3  978302109
2        1       914      3  978301968
3        1      3408      4  978300275
4        1      2355      5  978824291

In [6]:
ratings['user_id'].nunique()
# rating에 있는 유니크한 사용자 수

6039

In [16]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path= 'C:/Users/minho/aiffel/datasets/ml-1m/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python')
movies

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [17]:
movies['movie_id'].nunique()
# ratings에 있는 유니크한 영화 개수

3883

In [26]:
ratings.describe()

             user_id       movie_id          count     timestamp
count  836478.000000  836478.000000  836478.000000  8.364780e+05
mean     3033.120626    1849.099114       3.958293  9.721628e+08
std      1729.255651    1091.870094       0.762280  1.206216e+07
min         1.000000       1.000000       3.000000  9.567039e+08
25%      1531.000000    1029.000000       3.000000  9.652795e+08
50%      3080.000000    1747.000000       4.000000  9.728388e+08
75%      4485.000000    2763.000000       5.000000  9.752064e+08
max      6040.000000    3952.000000       5.000000  1.046455e+09

In [86]:
df = pd.merge(ratings, movies, on = 'movie_id')
print(df.shape)
df.head()

(836483, 6)

,user_id,movie_id,count,timestamp,title,genre
0,1,1193,5,978300760.0,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413.0,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179.0,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279.0,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471.0,One Flew Over the Cuckoo's Nest (1975),Drama

In [87]:
df_top100 = df.groupby('title')['count'].sum()
df_top100.sort_values(ascending=False).head(100)

title
American Beauty (1999)                                                         14449
Star Wars: Episode IV - A New Hope (1977)                                      13183
Star Wars: Episode V - The Empire Strikes Back (1980)                          12648
Saving Private Ryan (1998)                                                     11348
Star Wars: Episode VI - Return of the Jedi (1983)                              11303
Raiders of the Lost Ark (1981)                                                 11179
Silence of the Lambs, The (1991)                                               11096
Matrix, The (1999)                                                             10903
Sixth Sense, The (1999)                                                        10708
Terminator 2: Judgment Day (1991)                                              10513
Fargo (1996)                                                                   10465
Schindler's List (1993)                                                        10317
Braveheart (1995)                                                              10125
Shawshank Redemption, The (1994)                                               10085
Back to the Future (1985)                                                      10081
Godfather, The (1972)                                                           9965
Princess Bride, The (1987)                                                      9866
Jurassic Park (1993)                                                            9601
L.A. Confidential (1997)                                                        9515
Shakespeare in Love (1998)                                                      9503
Men in Black (1997)                                                             9062
Pulp Fiction (1994)                                                             9053
Being John Malkovich (1999)                                                     8964
Groundhog Day (1993)                                                            8727
E.T. the Extra-Terrestrial (1982)                                               8696
Forrest Gump (1994)                                                             8679
Terminator, The (1984)                                                          8571
Toy Story (1995)                                                                8480
Ghostbusters (1984)                                                             8282
Alien (1979)                                                                    8244
Fugitive, The (1993)                                                            8083
Usual Suspects, The (1995)                                                      7984
Gladiator (2000)                                                                7675
Blade Runner (1982)                                                             7549
One Flew Over the Cuckoo's Nest (1975)                                          7496
Aliens (1986)                                                                   7335
Casablanca (1942)                                                               7287
Godfather: Part II, The (1974)                                                  7257
Stand by Me (1986)                                                              7202
Wizard of Oz, The (1939)                                                        7182
GoodFellas (1990)                                                               6978
Total Recall (1990)                                                             6971
Star Wars: Episode I - The Phantom Menace (1999)                                6881
Monty Python and the Holy Grail (1974)                                          6819
Jaws (1975)                                                                     6762
Die Hard (1988)                                                                 6737
2001: A Space Odyssey (1968)                                                    6731
Airplane! (1980)                                                                6626
Indiana Jones and the Last Crusade (1989)                                       6622
Hunt for Red October, The (1990)                                                6576
Toy Story 2 (1999)                                                              6574
Babe (1995)                                                                     6519
Bug's Life, A (1998)                                                            6383
Good Will Hunting (1997)                                                        6375
Who Framed Roger Rabbit? (1988)                                                 6279
Galaxy Quest (1999)                                                             6251
When Harry Met Sally... (1989)                                                  6237
Lethal Weapon (1987)                                                            6142
Abyss, The (1989)                                                               6038
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)     6001
Ferris Bueller's Day Off (1986)                                                 5955
Butch Cassidy and the Sundance Kid (1969)                                       5924
Amadeus (1984)                                                                  5801
Election (1999)                                                                 5800
Breakfast Club, The (1985)                                                      5773
North by Northwest (1959)                                                       5737
Twelve Monkeys (1995)                                                           5729
Close Encounters of the Third Kind (1977)                                       5683
Fight Club (1999)                                                               5681
Christmas Story, A (1983)                                                       5625
Raising Arizona (1987)                                                          5570
X-Men (2000)                                                                    5566
Big (1988)                                                                      5558
Independence Day (ID4) (1996)                                                   5533
Speed (1994)                                                                    5520
Dances with Wolves (1990)                                                       5453
As Good As It Gets (1997)                                                       5435
Star Trek: The Wrath of Khan (1982)                                             5416
Annie Hall (1977)                                                               5386
Clerks (1994)                                                                   5366
Rain Man (1988)                                                                 5305
Graduate, The (1967)                                                            5287
Psycho (1960)                                                                   5239
High Fidelity (2000)                                                            5202
There's Something About Mary (1998)                                             5126
Blues Brothers, The (1980)                                                      5109
Fish Called Wanda, A (1988)                                                     5095
Taxi Driver (1976)                                                              5089
Titanic (1997)                                                                  5088
Chinatown (1974)                                                                5081
Reservoir Dogs (1992)                                                           5079
Full Metal Jacket (1987)                                                        5067
Apollo 13 (1995)                                                                5027
Beetlejuice (1988)                                                              4993
Young Frankenstein (1974)                                                       4986
Chicken Run (2000)                                                              4976
Thelma & Louise (1991)                                                          4959
Contact (1997)                                                                  4957
Edward Scissorhands (1990)                                                      4954
Green Mile, The (1999)                                                          4952
Name: count, dtype: int64

In [88]:
#df[df['title'] ==  'Men in Black (1997)']['movie_id'].drop_duplicates()

In [89]:
#pd.set_option('display.max_rows',500)
#movies.head(500)

In [91]:
# my_favourite = ['love rose', 'avengers', 'Fantastic beasts and where to find them', 'doctor dolittle', 'kingsman']
# 내가 선호하는 영화를 5가지 골라서 rating에 추가해 줍시다.
my_favorite = [1,260,2762,1704,1580]

#import datetime
#a = datetime.datetime.now()
my_rate = pd.DataFrame({'user_id': [6666]*5, 'movie_id': my_favorite, 'count': [5]*5})
if not ratings.isin({'user_id':[6666]})['user_id'].any():
    ratings = ratings.append(my_rate)
ratings.tail(10)

         user_id  movie_id  count    timestamp
1000203     6040      1090      3  956715518.0
1000205     6040      1094      5  956704887.0
1000206     6040       562      5  956704746.0
1000207     6040      1096      4  956715648.0
1000208     6040      1097      4  956715569.0
0           6666         1      5          NaN
1           6666       260      5          NaN
2           6666      2762      5          NaN
3           6666      1704      5          NaN
4           6666      1580      5          NaN

In [93]:
df.reset_index(inplace = True, drop = True)
df

,user_id,movie_id,count,timestamp,title,genre
0,1,1193,5,9.783008e+08,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,9.782984e+08,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,9.782202e+08,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,9.781993e+08,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,9.781585e+08,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...
836478,5851,3607,5,9.577566e+08,One Little Indian (1973),Comedy|Drama|Western
836479,5854,3026,4,9.583469e+08,Slaughterhouse (1987),Horror
836480,5854,690,3,9.577443e+08,"Promise, The (Versprechen, Das) (1994)",Romance
836481,5938,2909,4,9.572734e+08,"Five Wives, Three Secretaries and Me (1998)",Documentary
836482,5948,1360,5,1.016564e+09,Identification of a Woman (Identificazione di ...,Drama

In [100]:
user_unique

array([   1,    2,   12, ...,   46, 2908, 4486], dtype=int64)

In [94]:
user_unique = df['user_id'].unique()
movie_unique = df['movie_id'].unique()

user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [97]:
print(user_to_idx[5948])
#print(movie_to_idx[7000])
# user_id의 index니까

1648

In [112]:
from scipy.sparse import csr_matrix

num_user = df['user_id'].nunique()
num_movie = df['movie_id'].nunique()

csr_data = csr_matrix((df.count, (df.user_id, df.movie_id)), shape = (num_user, num_movie))
csr_data

TypeError: len() of unsized object

In [29]:
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):
    print('user column indexing ok')
    ratings['user_id'] = temp_user_data
else:
    print('user column indexing failed')

temp_movie_data = ratings['movie_id'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings):
    print('movie column indexing ok')
    
else: 
    print('movie column indexing failed')

ratings

user column indexing ok
movie column indexing ok

    user_id  movie_id  count                   timestamp  rating
0         0      1193    5.0                   978300760     NaN
1         0       661    3.0                   978302109     NaN
2         0       914    3.0                   978301968     NaN
3         0      3408    4.0                   978300275     NaN
4         0      2355    5.0                   978824291     NaN
..      ...       ...    ...                         ...     ...
0      6039      7000    5.0  2020-10-31 17:11:14.211482     5.0
1      6039      7001    5.0  2020-10-31 17:11:14.211482     5.0
2      6039      7002    5.0  2020-10-31 17:11:14.211482     5.0
3      6039      7003    5.0  2020-10-31 17:11:14.211482     5.0
4      6039      7005    5.0  2020-10-31 17:11:14.211482     5.0

[836483 rows x 5 columns]

In [33]:
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_movie = ratings['movie_id'].nunique()

csr_data = csr_matrix((ratings.count, (ratings.movie_id, ratings.user_id)), shape = (num_user, num_movie))
csr_data

TypeError: len() of unsized object