0. 추천시스템의 개념과 목적을 이해한다. \
1. Implicit 라이브러리를 활용하여 Matrix Factorization(이하 MF) 기반의 추천 모델을 만들어 본다. \
2. 음악 감상 기록을 활용하여 비슷한 아티스트를 찾고 아티스트를 추천해 본다. \
3. 추천 시스템에서 자주 사용되는 데이터 구조인 CSR Matrix을 익힌다 \
4. 유저의 행위 데이터 중 Explicit data와 Implicit data의 차이점을 익힌다.\
5. 새로운 데이터셋으로 직접 추천 모델을 만들어 본다.

In [1]:
import pandas as pd
import os

fname = 'C:/Users/minho/aiffel/datasets/lastfm-dataset-360K/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [2]:
# 사용하는 컬럼만 남겨줍니다.
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [3]:
data['artist'] = data['artist'].str.lower() # 검색을 쉽게하기 위해 아티스트 문자열을 소문자로 바꿔줍시다.
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

In [5]:
# 유저 수
data['user_id'].nunique()

358868

In [6]:
# 아티스트 수
data['artist'].nunique()

291346

In [7]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [8]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [9]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

In [ ]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['Greenday' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

In [15]:
data[data.isin({'artist':['charlie']})['artist']]

                                           user_id   artist  play
703761    0a45d397a995abdac1c7a0a607348cd4dc72292b  charlie     5
1105860   1012f7870db6c6f7b304211533c13833680bf46d  charlie    62
1178157   112d3b62956be8d9ea554ca2c5271a617d1e74e3  charlie   531
1205756   11981a3e9d260ea0f6176936cdb32ab8a15c7f26  charlie   493
1264347   12721aa36c929e84b0d7584cde4782a75d69ea83  charlie    46
1589356   173166072c9783b949501f33e049931556e0a7ea  charlie   139
1736220   195aa9030703b88cea0f53499b253c25c40d0b7c  charlie    99
1771402   19da102f108cf3eb703b7060208d05339bdd7be3  charlie   255
1941757   1c5e9b1ee4a89b713a597138d2983d8d4dff3314  charlie    40
2010943   1d5563345c0c077c3d6dd249f5805acbaac12b1b  charlie    22
2690398   275fb0aa6af1adf8b6691d0676c1eb11f8e29d7b  charlie    16
2900066   2a65b19c00815c05c9e24e6bb9b474ae57a7603b  charlie    59
3094789   2d388bef05ce7b118d25566c25d28022ddbba263  charlie  1300
3752760   36fe45f1c78303c5d33846b2a015e84fefa55dc0  charlie   164
4205686   3d6a88e515cae70046d06eaeb4219f50a2611438  charlie   161
5486863   504a76568f763ba092b90f34382506796e8d3462  charlie     4
5487623   504d4abdaf5453d8f72cec72494f443b3d467ee0  charlie    48
5620590   523c2bb67e1fe201f5d02a664d27000057ec75cc  charlie   102
5621726   523f415f6413ef4f37b30d9de0c3f1b7daa47963  charlie    27
5637527   527e31e832413d794140f492867b162dd0b3b53b  charlie    97
5796741   54c991b28879457a3d54f3657c796a15067d6036  charlie   249
6244683   5b458401c38dd492df702bddd6c54fbdc6617f50  charlie    37
6415569   5dc26a71b47405d7599c7f827362eb6fa0a73d72  charlie   203
6558624   5feb2a8e51d7ec0d372d4414586727ed71bfd20d  charlie    48
6584625   60466207f0acc472b3cee47f9053257ae1bc7bc0  charlie     2
6708052   620c005ed678a8969dede88cfeb6a746dcec30dc  charlie    75
6742362   628a1fab056bcace928cce17f07c1aa9c1729227  charlie    75
7457686   6ced863c1ac6217cae987edeb2e715526c0ca78f  charlie    41
7640393   6fa91c477c06939b1fc284b49480593fcfd3fb97  charlie    51
7960110   74549f61a0584ed7ab4d78dcac85624645b7caea  charlie   169
7975781   74942775a8b6c3a02e8a4151de55cb318fcc2562  charlie    86
8094531   7656cb58921c4c887d44f603c4735c4ca2329234  charlie    16
8542543   7cd7f7b224d821f753c6a1992bc5951b6ab18ae4  charlie    18
8614489   7de38b42f2660a5e02cfb9d00fc8bfc6f44c389e  charlie   327
8804881   80a51ed0ed80e8a9b52e84f3f08d12502f7ce4b7  charlie    28
9111129   851f82e6bedc15968dd1b46a4a0f4191750e5e39  charlie    34
10714309  9c7da58ab8cfcb301f4ce91952620c9f0742369a  charlie    57
11117953  a288b0a63f945c6e60289d66f3a0c0f2f05d5702  charlie   232
11168751  a347de517088986595f5e3de6c1d8e9061e719bb  charlie     5
11461439  a7a40bfe56d7876600844bc82694414fa48504f5  charlie     3
11480767  a7e80cafcb1e6870d068fefe39ea4989afacc79a  charlie   169
11742453  abbfc61fb16dbfe4bedfc2ece282a5a3b3be9086  charlie     1
11829763  ad0cf5eb6c75b05f2b879b7b62aaa7bc3d8f38cc  charlie  1091
11914458  ae405779968525e4cd7367ea96218b68f5b2e048  charlie   162
11980410  af4097e8d069b65bad3beb802d5fd9d0d179237b  charlie   216
12133987  b16d0922c0ae11387089c21a2426b7236b3842f1  charlie    21
12579265  b7db0a9e7dcb9813554a14ff91efb450d9070e78  charlie    68
12942700  bd3afeaa482bdb89254946a61f02dee88ad514a0  charlie     9
13790616  c96ce3f3ffecd3139c2b18243b5e61d6d7b41963  charlie   261
14051776  cd32489340f8de0e14ab7dffbb50989efb446e96  charlie     6
14515763  d3eee80a3381e3aab1ea642c32b8d6057ff1691c  charlie   131
14645055  d5cef987a04a9f8dc2f5e32d027f8427a1256a0d  charlie     5
15052873  dbb8c8ada52f4ffb99e2829ccf747170dbacc89f  charlie   144
15197638  dde4dc8fd6ac0174d957add9c473011ce8183d37  charlie     2
15298813  df5aca38a29d5b202398f9434dd9920c665d45c1  charlie   100
16810199  f55c26b92e015c2c06dc58306728ef076506ea3e  charlie    24
17177952  fac2eab1bf8f093beb87797e1ed1a9b9ef005fde  charlie    24
17237477  fba0d7d6c04d66afa2be01ceb79c7305d480bcd4  charlie    15
17264449  fc04dd751be2b2db0ae17fbe4297d2637c5ef58d  charlie     4

In [19]:
data[data['artist'].str.contains('puth')]
# ValueError: Cannot mask with non-boolean array containing NA / NaN values
# (참고) pandas.DataFrame.nunique()은 특정 컬럼에 포함된 유니크한 데이터의 개수를 알아보는데 유용합니다.

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [21]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['greenday' , 'maroon5' ,'jason mraz' ,'coldplay', 'boyslikegirls']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin         greenday    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin    boyslikegirls    30

In [22]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [23]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [24]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868   85635    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868  259000    30

[17535660 rows x 3 columns]

In [25]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

In [29]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

In [26]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [27]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [30]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [31]:
# 모델 훈련
als_model.fit(csr_data_transpose)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [32]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

print('슝=3')

슝=3

In [33]:
zimin_vector

array([-0.15325463,  0.63052976, -0.05186073,  0.36638847, -0.3742061 ,
        0.19379625,  0.67352515,  0.84561104,  0.11733968, -0.01774785,
        0.05802066,  0.01467218, -0.7247721 , -0.0787935 , -0.16713056,
       -0.44024718,  0.0053319 , -0.06851988,  0.2924234 ,  0.5071505 ,
        0.769692  , -0.2051107 ,  0.9179265 ,  0.6627185 , -0.40806282,
        0.30852354, -0.36251196, -0.20454597,  0.3630716 , -0.52936864,
       -0.29960272, -0.7906194 ,  0.18669379, -0.4813955 , -0.5270405 ,
       -0.8000974 ,  0.1724058 ,  0.8480523 , -0.615115  , -0.528438  ,
       -1.2117372 ,  0.3181025 ,  0.309586  ,  0.39729413, -0.05671247,
        0.04680888,  0.420035  ,  0.1212293 , -0.1844194 , -0.07369551,
        0.22328258,  0.65351856, -0.03634469, -0.4541512 ,  0.202658  ,
       -0.30020308,  0.04186001, -0.6977524 , -0.60891575,  0.06354914,
        0.5436641 ,  0.02730005,  0.06612121,  0.34488586, -0.79495585,
        0.27406228,  0.15820089, -0.06018568,  0.30648026, -0.41527572,
        0.05235018, -0.9158216 , -0.6922088 , -0.03577034,  0.33603895,
        1.0595231 , -0.07665721, -0.21584184,  0.00219571, -0.8628295 ,
        0.78590244,  0.03648395,  0.12086677,  0.37270206, -0.742446  ,
        0.03175358, -0.05326211,  0.2590821 ,  0.8978643 , -0.03799061,
        0.6737161 , -0.685641  ,  0.54683095,  1.1361408 ,  0.35020104,
        0.183573  ,  0.5617124 ,  0.3361038 , -0.16520922, -0.35058683],
      dtype=float32)

In [34]:
black_eyed_peas_vector

array([-2.96662445e-03,  1.76313519e-02,  1.01933377e-02, -1.16595542e-02,
        1.39893973e-02,  1.78413428e-02,  3.05646798e-04, -3.79210309e-04,
       -5.37058944e-03,  1.26894144e-02,  2.04824917e-02,  6.19243644e-03,
        1.10070892e-02,  8.20336305e-03, -1.15225064e-02, -1.34168081e-02,
       -5.61278872e-03,  4.29212349e-03,  1.12731280e-02,  2.63644243e-03,
        3.36299697e-03, -3.63847893e-03, -8.07083398e-03,  3.63988080e-03,
       -4.20407066e-03,  1.66851003e-02,  1.63372606e-02,  1.57552815e-04,
       -1.39455376e-02,  1.83025487e-02,  5.02677262e-03, -9.83589888e-03,
        1.48273502e-02, -1.62230972e-02,  1.33898994e-02, -2.08926690e-03,
        1.28039047e-02,  1.41449925e-02,  2.41107978e-02,  2.77880859e-02,
       -5.64519502e-03,  2.09931973e-02, -8.01637187e-04,  2.59771254e-02,
        1.40115013e-02,  1.99166611e-02,  4.44567204e-03,  3.58138961e-04,
       -3.65323795e-04,  1.16933873e-02, -1.16558652e-02,  2.62378575e-03,
        8.13757349e-03,  7.87739269e-03,  1.16238394e-03, -6.39436941e-04,
       -4.97906003e-03,  1.04056885e-02,  1.69908348e-02,  1.09015685e-02,
        1.22336615e-02, -6.20963704e-03,  9.90840979e-03,  1.93415321e-02,
       -4.53951303e-03,  1.47400666e-02,  1.60684101e-02,  2.97521707e-03,
        2.27680299e-02,  3.55525082e-03,  1.82736218e-02, -1.01827262e-02,
        1.85571555e-02, -4.02499363e-03,  1.90997999e-02, -8.57900083e-03,
        9.84180253e-03,  2.39627901e-02, -4.42649005e-03,  1.60093140e-03,
        3.21175307e-02,  1.09540960e-02,  1.69939250e-02,  2.15611551e-02,
       -7.89085496e-03, -1.03157079e-02, -1.32808229e-03,  9.55590454e-04,
        1.99372806e-02, -3.02791523e-05,  9.91438422e-03, -7.23565347e-04,
        7.46086845e-03,  2.23803017e-02,  2.33820779e-03,  1.52300149e-02,
        1.79014113e-02,  1.78632475e-02, -1.01317195e-02,  1.19866459e-02],
      dtype=float32)

In [35]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, black_eyed_peas_vector)

0.12307818

In [36]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.2626857

In [37]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 0.99999994),
 (277, 0.98744076),
 (28, 0.98124206),
 (5, 0.97737694),
 (217, 0.9765435),
 (473, 0.9747312),
 (247, 0.967975),
 (418, 0.9668855),
 (490, 0.9622961),
 (694, 0.9548868),
 (910, 0.9537902),
 (268, 0.9512093),
 (1018, 0.9492811),
 (55, 0.9479786),
 (782, 0.9428739)]

In [38]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'radiohead',
 'placebo',
 'the beatles',
 'u2',
 'oasis',
 'foo fighters',
 'nirvana',
 'pink floyd',
 'the smashing pumpkins',
 'arctic monkeys',
 'the white stripes']

In [39]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

In [40]:
get_similar_artist('2pac')

['2pac',
 'jay-z',
 'snoop dogg',
 'nas',
 'the game',
 'notorious b.i.g.',
 'dr. dre',
 '50 cent',
 'ludacris',
 'ice cube']

In [41]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(28, 0.30165467),
 (24, 0.30052286),
 (247, 0.29814965),
 (277, 0.29075122),
 (5, 0.28882527),
 (217, 0.28624684),
 (418, 0.2823009),
 (490, 0.28192002),
 (55, 0.2714829),
 (262, 0.26888338),
 (75, 0.26268572),
 (473, 0.26255387),
 (268, 0.2613919),
 (694, 0.25899512),
 (969, 0.25548512),
 (910, 0.2545708),
 (35, 0.25420088),
 (509, 0.25338167),
 (627, 0.2508684),
 (457, 0.2489356)]

In [42]:
[idx_to_artist[i[0]] for i in artist_recommended]

['the killers',
 'jack johnson',
 'the beatles',
 'muse',
 'red hot chili peppers',
 'radiohead',
 'u2',
 'oasis',
 'arctic monkeys',
 'snow patrol',
 'queen',
 'placebo',
 'pink floyd',
 'foo fighters',
 'kings of leon',
 'nirvana',
 'john mayer',
 'keane',
 'maroon 5',
 'franz ferdinand']

In [45]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)
explain

(0.1270340671473212,
 [(3746, 0.06859126426439437),
  (62, 0.05931269310153843),
  (259000, -0.00021391896823976599),
  (85635, -0.00024355524359744447),
  (270115, -0.00041241600677435167)],
 (array([[ 2.87003432,  2.25423617,  2.14755472, ...,  2.38895991,
           2.36626742,  2.2262256 ],
         [ 6.46973517,  1.1687335 ,  0.51629721, ...,  0.5441401 ,
           0.51682117,  0.47224715],
         [ 6.16355574,  5.44450937,  1.02216434, ...,  0.31590629,
           0.31646887,  0.25827243],
         ...,
         [ 6.85639693,  6.02123462,  5.73426829, ...,  0.83906493,
           0.03610724, -0.01038616],
         [ 6.7912687 ,  5.93815182,  5.67200528, ...,  6.35798684,
           0.85316754,  0.04315412],
         [ 6.38934388,  5.57036935,  5.28875806, ...,  5.88115411,
           5.88285186,  0.81534205]]),
  False))

In [44]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('jason mraz', 0.06859126426439437),
 ('coldplay', 0.05931269310153843),
 ('boyslikegirls', -0.00021391896823976599),
 ('greenday', -0.00024355524359744447),
 ('maroon5', -0.00041241600677435167)]